<div id="remark42"></div>

<script>
  var remark_config = {
    host: 'YOUR_REMARK42_HOST', // e.g., https://comments.yourdomain.com
    site_id: 'lowkeysmile',
    components: ['embed'],
    url: '{{ page.url | absolute_url }}',
    max_shown_comments: 10,
    theme: 'light',
    show_email_subscription: false
  }
</script>
<script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script> 