<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="blog">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}
          
          <!-- {% if page.type == "article" %} -->
            {% include comments.html %}
          <!-- {% endif %} -->

          <p class="blog-post-list">
            {% for post in site.posts %}

            {% if post.draft != true and post.type == "article" and post.language == "english"  %}

                <span class="blog-post-date">{{ post.date | date: "%-m/%-d/%y" }}</span>
                <a href="{{ post.url | relative_url }}" class="blog-post-title">
                  {{ post.title }}
                </a>
                <br />

              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
    
    <!-- Add the like button JavaScript -->

  </body>
</html>
